<div class="container">
<h2>Medicine Form</h2>
<form [formGroup]="add" (ngSubmit)="addMedicine()">
    <div class="form-group">
        <label>Medicine Name <span *ngIf="add.get('name').invalid">*</span></label>
        <input type="text" placeholder="Enter medicine name" class="form-control" formControlName="name">
        <span *ngIf="add.get('name').touched && add.get('name').invalid">Please enter valid medicine name</span>
    </div>
    <div class="form-group">
        <label>Medicine Price <span *ngIf="add.get('price').invalid">*</span></label>
        <input type="number" placeholder="Enter medicine price" min="0" class="form-control" formControlName="price">
        <span *ngIf="add.get('price').touched && add.get('price').invalid">Please enter valid price</span>
    </div>
    <div class="form-group">
         <label>Manufactured Date <span *ngIf="add.get('mDate').invalid">*</span></label>
         <input type="date" placeholder="Enter manufactured date" class="form-control" formControlName="mDate">
       <!-- <span *ngIf="add.get('mDate').valid && add.get('eDate').valid && add.get('mDate').value > add.get('eDate').value ">Please enter valid manufactured date</span>-->
        <span *ngIf="add.get('mDate').touched && add.get('mDate').invalid">Please select valid Manufacture Date</span>
    </div>
    <div class="form-group">
        <label>Expiry Date <span *ngIf="add.get('eDate').invalid">*</span></label>
        <input type="date" placeholder="Enter expiry date" class="form-control" formControlName="eDate">
        <span *ngIf="add.get('eDate').touched && add.get('eDate').invalid">Please select valid Expiry Date</span>
    </div>
    <div class="form-group">
        <label>Description <span *ngIf="add.get('description').invalid">*</span></label>
        <textarea rows="4" cols="70" placeholder="Enter description" formControlName="description"></textarea>
    </div>
   
    <button type="submit" class="btn btn-info" (click)="openModal(template)" [disabled]="!add.valid">Submit</button>
    <ng-template #template>
        <div class="modal-header text-center">
            <h4>{{task}}</h4>
            <button type="button" class="close pull-right" (click)="modalRef.hide()">
                <span area-hidden="true">OK</span>
            </button>
        </div>
    </ng-template>
    &nbsp;
    <a [routerLink]="['']" class="btn btn-success">Back</a>
</form>
</div>