  
<div class="container" >
    <hr>
    <a class="btn btn-primary fixed-top" role="button" [routerLink]="['/add']">Add <i class="fa fa-plus" title="Edit"></i></a>
  <hr>
    <table class="table table-hover"> 
        <tr>
            <th>
                Medicine Name
            </th>
            <th>
                Price
            </th>
            <th>
                Manufactured Date
            </th>
            <th>
                Expiry Date
            </th>
            <th>
                Description
            </th>
            <th>
                Update
            </th>
            <th>
                Delete
            </th>
        </tr>
        <tr *ngFor="let medicine of medicines | paginate: { itemsPerPage: itemsPerPage, currentPage: p, totalItems: medicines.length  }">
            <td>{{medicine.name}}</td>
            <td>{{medicine.price}}</td>
            <td>{{medicine.manufacture_date | date : 'dd/MM/yyyy'}}</td>
            <td>{{medicine.expiry_date | date : 'dd/MM/yyyy'}}</td>
            <td>{{medicine.description}}</td>
            <td><a [routerLink]="['add',medicine.id]"> <div style="font-size:30px;" ><i class="fa fa-edit" title="Edit"></i></div></a></td>
            <td><button (click)="openModal(template)">&#10060;</button>
                <ng-template #template>
                  <div class="modal-body text-center">
                    <p>Are you sure you want to delete?</p>
                    <button type="button" class="btn btn-danger" (click)="confirm(medicine.id)" >Yes</button>
                    &nbsp;
                    <button type="button" class="btn btn-default" (click)="decline()" >No</button>
                  </div>
                </ng-template>
            </td>
        </tr>
    </table>
    <div class="pagination">
        <pagination-controls class="page_postion page" (pageChange)="p =$event"></pagination-controls>
    </div>
</div>