table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {background-color: #add8e6}
  
  @media only screen and (max-width: 600px) {
    .page { 
      position:absolute;
      left: -5%;
      } 
  }
  .page_postion{
    position:absolute;
    transition: .5s ease;
    top: 70%;
    left: 15%;
    margin:auto;
} 